.card-container {
  padding: 2.15rem 1.85rem;
  background-color: #F9F9F9;
  ;
}

.contest-rating {
  background: #FFC397;
  padding: .30rem .90rem;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  font-size: .87rem;
  line-height: 1.12rem;
  color: #FFFFFF;
  margin-bottom: 0;
}

.contest-price {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500 !important;
  font-size: 1.5rem !important;
  line-height: 1.93rem;
  color: #001858;
  margin-bottom: 0;
}

.text-content {
  font-family: 'IBM Plex Sans' !important;
  font-style: normal;
  font-weight: 500 !important;
  font-size: 1rem;
  line-height: 1.7rem;
  color: #001858;
  margin: 2.75rem 0 1.37rem;
}

.tag {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 200;
  font-size: .62rem;
  line-height: .81rem;
  color: #A4A4A4;
}

.tags h5 {
  background: #EAEAEA;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #A4A4A4;
  padding: .30rem .90rem;
  margin: .5rem 0 3.15rem .32rem;
}

.user-name {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.31rem;
  text-align: center;
  color: #001858;
}

.user-location {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 200;
  font-size: .87rem;
  line-height: 1.12rem;
  color: #A4A4A4;
}

.user-degi {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 200;
  font-size: .62rem;
  line-height: .81rem;
  text-align: center;
  color: #A4A4A4;
}

.browse-button {
  display: block;
  margin: 2.62rem auto 0 auto;
  border: .062rem solid #001858;
  padding: .75rem 2.25rem;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #001858;
  transition: all .5s ease-in-out;
}
.browse-button:hover {
  border: none;
  background: #F582AE;
  color: #FFFFFF;
}